.card {
	display: flex;
	align-items: center;
	padding: 2em;
	background-color: white;

	&__title {
		margin: 0;
		font-size: 2rem;
		opacity: .8;
	}

	&__text {
		margin-bottom: 1.5em;
		margin-top: 1.5emem;
		line-height: 1.5em;
		font-size: 1.1rem;
		opacity: .5;
	}

	&__img {
		img {
			max-width: 561px;
		}
	}

	&__table-container {
		display: flex;
		justify-content: space-evenly;
	}

	&__table {
		width: 40%;
		text-align: left;
		border-collapse: collapse;
		border: 1px solid darken($color: #f0f0f0, $amount: 5);
	}

	&__table-item {
		padding: .5em 2em;
		border: 1px solid darken($color: #f0f0f0, $amount: 5);

		&:first-child {
			width: 30%;
			text-align: center;
			background-color: $primary-color;
			color: white;
		}

		&:last-child {
			width: 70%;
			color: #454545;
		}
	}
}