.home-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url("../images/Wallpaper.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&__title {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 5rem;
		color: #f0f0f0;
	}

	&__subtitle {
		margin-bottom: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		color: #f0f0f0;
	}
}