$bg-colors: #011f4b, #03396c, #005b96, #6497b1, #b3cde0;

.projects-page {
	height: 100vh;
	display: grid;
	place-content: center;
	gap: 1em;
	padding: 0 1.5em;
	background-color: #f0f0f0;

	&__project {
		display: flex;
		align-items: center;
		background-color: white;
	}

	&__img {
		max-width: 400px;
	}

	&__title {
		margin: 0;
		margin-bottom: .5em;
		font-size: 1.5rem;
	}

	&__text {
		margin: 0;
		margin-bottom: 1em;
	}

	&__button {
		text-decoration: none;
		color: $primary-color;
	}
}