body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
      grid-template-areas: "aside main";
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.sidebar {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1d1d;
}

.sidebar__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar__nav-item {
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.3rem;
  color: #0090FF;
}

.sidebar__nav-item > a {
  text-decoration: none;
  -webkit-transition: color .75s;
  transition: color .75s;
  color: inherit;
}

.sidebar__nav-item > a:visited {
  color: inherit;
}

.sidebar__nav-item > a:hover {
  color: #005699;
  -webkit-transition: color .75s;
  transition: color .75s;
}

.sidebar__social-media {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 1em;
  color: #454545;
}

.sidebar__social-media a {
  color: inherit;
}

.home-page {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4em;
  text-align: left;
  background-image: url("../images/Wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.home-page__title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  color: #f0f0f0;
}

.home-page__subtitle {
  margin: 0;
  margin-top: .5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #f0f0f0;
  opacity: .5;
}

.home-page__cta {
  margin-top: 2em;
}

.home-page__cta button {
  padding: .75em 3em;
  border: 2px solid #0090FF;
  outline: none;
  background-color: unset;
  font-weight: bold;
  color: #0090FF;
  cursor: pointer;
  -webkit-transition: .5s background-color, .5s color;
  transition: .5s background-color, .5s color;
}

.home-page__cta button:hover {
  background-color: #0090FF;
  color: white;
  -webkit-transition: 1s background-color, 1s color;
  transition: 1s background-color, 1s color;
}

.about-page {
  height: 100%;
  padding: 3em;
}

.about-page__title {
  text-align: center;
  font-size: 3.8rem;
}

.card {
  position: relative;
  padding: 2em;
  background-color: #f0f0f0;
  border-left: 10px solid #0090FF;
}

.card__title {
  font-size: 2rem;
  margin: 0;
}

.card__text {
  margin-bottom: 2em;
  margin-top: 2em;
  line-height: 1.8em;
  font-size: 1.1rem;
  color: #454545;
}

.card__table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card__table {
  width: 40%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #e3e3e3;
}

.card__table-item {
  padding: .5em 2em;
  border: 1px solid #e3e3e3;
}

.card__table-item:first-child {
  width: 30%;
  text-align: center;
  background-color: #0090FF;
  color: white;
}

.card__table-item:last-child {
  width: 70%;
  color: #454545;
}

.projects-page {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.projects-page__link {
  position: relative;
}

.projects-page__img {
  background-color: black;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.projects-page__link:nth-child(1) .projects-page__img {
  background-color: #005b96;
}

.projects-page__link:nth-child(2) .projects-page__img {
  background-color: #005b96;
}

.projects-page__link:nth-child(3) .projects-page__img {
  background-color: #b3cde0;
}

.projects-page__link:nth-child(4) .projects-page__img {
  background-color: #011f4b;
}

.projects-page__link:nth-child(5) .projects-page__img {
  background-color: #011f4b;
}

.projects-page__link:nth-child(6) .projects-page__img {
  background-color: #011f4b;
}

.projects-page__link:nth-child(7) .projects-page__img {
  background-color: #011f4b;
}

.projects-page__link:nth-child(8) .projects-page__img {
  background-color: #03396c;
}

.projects-page__link:nth-child(9) .projects-page__img {
  background-color: #6497b1;
}

.projects-page__link:nth-child(10) .projects-page__img {
  background-color: #03396c;
}

.projects-page__link:nth-child(11) .projects-page__img {
  background-color: #b3cde0;
}

.projects-page__link:nth-child(12) .projects-page__img {
  background-color: #005b96;
}

.projects-page__link:nth-child(13) .projects-page__img {
  background-color: #03396c;
}

.projects-page__link:nth-child(14) .projects-page__img {
  background-color: #011f4b;
}

.projects-page__link:nth-child(15) .projects-page__img {
  background-color: #b3cde0;
}

.projects-page__hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0%;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.projects-page__hover:hover {
  opacity: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.projects-page__button-container {
  background-color: rgba(0, 0, 0, 0);
}

.projects-page__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1em .5em;
  border-radius: 100%;
  border: none;
  background-color: #0090FF;
  color: white;
  font-size: .75rem;
  font-family: inherit;
  cursor: pointer;
}

.abilities-page {
  height: 100vh;
  padding: 3rem;
}

.abilities-page__title {
  text-align: center;
  font-size: 3.8rem;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  row-gap: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.skills__card {
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.skills__name {
  margin: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.5rem;
  color: #454545;
}

.skills__icon {
  padding-bottom: .25em;
  padding-top: .25em;
  font-size: 4rem;
  color: white;
  background-color: #2e96e6;
}

.contact-form {
  height: 100vh;
  padding: 3em;
}

.contact-form__title {
  text-align: center;
  font-size: 3.8rem;
}

.contact-form__content {
  text-align: center;
}

.contact-form__input, .contact-form__textarea {
  width: 75%;
  margin-bottom: 2em;
  padding: 1em;
  border: none;
  outline: none;
  border-left: 5px solid white;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.02);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.02);
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
}

.contact-form__input:focus, .contact-form__textarea:focus {
  border-left-color: #0090FF;
  -webkit-transition: border-left .75s;
  transition: border-left .75s;
}

.contact-form__textarea {
  resize: none;
}

.contact-form__button {
  padding: .8em 4em;
  background-color: white;
  outline: none;
  border: 2px solid #0090FF;
  border-radius: 30px;
  color: #0090FF;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-form__button:hover {
  background-color: #0090FF;
  color: white;
}

.contact-form__text {
  margin: 0;
  margin-top: 1.5em;
  color: #454545;
  font-size: .8rem;
}

.footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.footer__text {
  margin: 0;
  font-size: .75rem;
  color: #454545;
}
/*# sourceMappingURL=main.css.map */