$main-font: 'Nunito', sans-serif;
$title-font: 'Montserrat',sans-serif;

$primary-color: #0090FF;

body {
	margin: 0;
	font-family: $main-font;
}

.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-areas:
		"aside main";
}

main {
	grid-area: main;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

@import "sidebar";
@import "home-page";
@import "about-page";
@import "projects-page";
@import "abilities-page";
@import "skills";
@import "contact-form";
@import "footer";